<div class="button-wrapper" data-index={{loop.index0}}>
  <button class="sound-button" data-sound="{{ file }}">
    <span class="text">{{ file|replace(replace) }}</span>
    <div class="loader-wrapper"><div class="lds-ripple"><div></div><div></div></div></div>
  </button>
</div>
