{% extends 'layout.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <div class="search-wrapper">
        <form>
            <input class="input" type="search" placeholder="filter sounds" id="filter-input" />
        </form>
    </div>

    <div class="buttons-wrapper">
    <script>
        window.searchData = {{files|json_encode()}}
    </script>
    {% for file in files %}
        {% include 'Components/SoundButton/index.twig' with {
            file: file,
            replace: replace
        } %}
    {% endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="/javascript/js-search.min.js"></script>
    <script src="/javascript/playsound.js"></script>
    <script src="/javascript/filter.js"></script>

{% endblock %}
