{% extends 'layout.twig' %}
{% block body %}
    <h1>{{ title }}</h1>
    <div class="buttons-wrapper">
    {% for file in files %}
        {% include 'Components/SoundButton/index.twig' with {
            file: file
        } %}
    {% endfor %}
    </div>

    <script src="/javascript/playsound.js"></script>
{% endblock %}